# Configuración de producción
NEXT_PUBLIC_API_URL=https://nextjs-gozamadrid-qrfk.onrender.com
NEXT_PUBLIC_SITE_URL=https://blogs.realestategozamadrid.com
NEXT_PUBLIC_WP_API_URL=https://realestategozamadrid.com/wp-json/wp/v2

# Variables de entorno para WooCommerce
WC_CONSUMER_KEY=tu_consumer_key_aqui
WC_CONSUMER_SECRET=tu_consumer_secret_aqui
WC_API_URL=https://wordpress.realestategozamadrid.com/wp-json/wc/v3

# Credenciales públicas de WooCommerce (para frontend)
NEXT_PUBLIC_WOO_COMMERCE_KEY=tu_consumer_key_aqui
NEXT_PUBLIC_WOO_COMMERCE_SECRET=tu_consumer_secret_aqui
NEXT_PUBLIC_WC_API_URL=https://wordpress.realestategozamadrid.com/wp-json/wc/v3

# MongoDB
MONGODB_URI=tu_mongodb_uri_aqui 