option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateId: arn:aws:acm:eu-west-3:182399694236:certificate/8775410c-d2fd-4cb2-8c9c-7449bb5cabc2
    InstancePort: 80
    InstanceProtocol: HTTP
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP
  aws:elb:policies:
    LoadBalancerPorts: 443
    SSLReferencePolicy: ELBSecurityPolicy-2016-08 