option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGODB_URI: ${MONGODB_URI}
    PORT: ${PORT:-8081}
    NODE_ENV: ${NODE_ENV:-production}
    JWT_SECRET: ${JWT_SECRET}
    CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
    API_KEY: ${API_KEY}
    API_SECRET: ${API_SECRET}
    SENDGRID_API_KEY: ${SENDGRID_API_KEY}
    SENDGRID_VERIFIED_SENDER: ${SENDGRID_VERIFIED_SENDER}
    EMAIL_RECIPIENT: ${EMAIL_RECIPIENT}
    CORS_ORIGIN: ${CORS_ORIGIN}
    LOG_LEVEL: ${LOG_LEVEL:-info}
    NODE_OPTIONS: ${NODE_OPTIONS:---max-old-space-size=4096}
    NPM_USE_PRODUCTION: ${NPM_USE_PRODUCTION:-false} 