option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: false
    PORT: 8081
    NODE_OPTIONS: "--max-old-space-size=4096"
    
    # Configuración de correo
    EMAIL_HOST: smtp.gmail.com
    EMAIL_PORT: 587
    EMAIL_SECURE: false
    EMAIL_USER: ignaciodalesiolopez@gmail.com
    EMAIL_PASS: tjlt deip zhwe mkzm
    EMAIL_PASSWORD: tjlt deip zhwe mkzm
    EMAIL_RECIPIENT: marta@gozamadrid.com,ignaciodalesio1995@gmail.com
    EMAIL_TO: marta@gozamadrid.com,ignaciodalesio1995@gmail.com
    EMAIL_FROM: ignaciodalesiolopez@gmail.com
    
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx 