files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/api-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/logs/api*.log
      /var/app/current/logs/error*.log

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx 