option_settings:
  # Configuración del listener HTTP
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default
  
  # Configuración del proceso por defecto
  aws:elasticbeanstalk:environment:process:default:
    Port: 80
    Protocol: HTTP
    HealthCheckPath: /api/health
  
  # Configuración del listener HTTPS
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-west-3:182399694236:certificate/fc6776b1-38cd-4d40-953c-c6508f5c4171
    DefaultProcess: default

  # Configuración de proxy
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx 