option_settings:
  # Puerto de la aplicación
  aws:elasticbeanstalk:application:environment:
    PORT: 8081
  
  # Proceso de la aplicación
  aws:elasticbeanstalk:environment:process:default:
    Port: 8081
    Protocol: HTTP
    HealthCheckPath: /api/health
    
  # Configuración del proxy
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx 