# .ebextensions/01_node_install.config
commands:
  01_node_install:
    command: |
      # Instala nvm si no existe y carga las variables de entorno
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.3/install.sh | bash
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
      # Instala y usa la versión de Node.js deseada
      nvm install 20.11.1
      nvm use 20.11.1
      nvm alias default 20.11.1
    # Ejecuta esto como root para asegurar permisos, aunque nvm se instala por usuario
    # El directorio de trabajo podría necesitar ajustarse si tu app no está en /var/app/staging
    cwd: /tmp 
    test: "! node --version | grep v20.11.1" # Solo ejecuta si la versión no es ya 20.11.1
container_commands:
  02_npm_install_with_correct_node:
    command: |
      export NVM_DIR="/root/.nvm" # Asume que los comandos del contenedor se ejecutan como root
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      npm install --production
    cwd: /var/app/staging # Directorio donde EB pone el código antes de moverlo 