option_settings:
  # Tipo de balanceador
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  
  # Listener HTTP
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default
  
  # Listener HTTPS
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    DefaultProcess: default
    SSLCertificateArns: arn:aws:acm:eu-west-3:182399694236:certificate/fc6776b1-38cd-4d40-953c-c6508f5c4171 