commands:
  01_remove_email_user:
    command: "/opt/elasticbeanstalk/bin/get-config environment -k EMAIL_USER && /opt/elasticbeanstalk/bin/set-config environment -d EMAIL_USER || echo 'EMAIL_USER not found, skipping deletion'"
    test: "test ! -f /tmp/02_remove_vars_done"
  02_mark_done:
    command: "touch /tmp/02_remove_vars_done" 