Resources:
  # Configuración de grupo de seguridad para el balanceador de carga
  LoadBalancerSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Security group for load balancer"
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0

option_settings:
  # Asignar el balanceador de carga al grupo de seguridad personalizado
  aws:elb:loadbalancer:
    SecurityGroups: '`{ "Ref" : "LoadBalancerSecurityGroup" }`'
    ManagedSecurityGroup: '`{ "Ref" : "LoadBalancerSecurityGroup" }`' 