option_settings:
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default
    Rules: http-to-https
  aws:elbv2:listenerrule:http-to-https:
    PathPatterns: /*
    Process: default
    Priority: 1
  aws:elasticbeanstalk:environment:process:default:
    Port: 80
    Protocol: HTTP
    HealthCheckPath: /api/health
    HealthCheckTimeout: 30
    HealthCheckInterval: 30
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-west-3:1823996942323:certificate/b4d0d7f7-5b1a-4b0a-8b0a-5b1a4b0a8b0a 